.waveRegisterUP {
    background: url("./images/wave.png");
    width: 100%;
    height: 50px;
    margin-bottom: -13px;
    background-size: 500px 50px;
    rotate: 180deg;
    border-radius: 3px;
}
.waveRegisterUP.waveRegisterUP1 {
    animation: animateRegisterUP 15s linear infinite;
}
@keyframes animateRegisterUP {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}
.waveRegisterDown {
    background: url("./images/wave.png");
    width: 100%;
    height: 50px;
    margin-bottom: -16px;
    background-size: 500px 50px;
    border-radius: 3px;
}
.waveRegisterDown.waveRegisterDown1 {
    animation: animateRegisterDown 13s linear infinite;
}
@keyframes animateRegisterDown {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
.changeBorderRegister {
    border: 5px var(--myLighBlue) solid;
    border-radius: 20px;
}
.registerButtonInput {
    width: 150px;
    height: 50px;
    border: none;
    color: var(--myBlack);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(-45deg, var(--myLighBlue),  var(--myWhite), var(--myLighBlue),  var(--myWhite));
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.247);
    transition-duration: .1s;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.registerButtonInput::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: .3s;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.registerButtonInput:hover::before {
    transform: translateX(250px);
    transition-duration: .3s;
}
.registerButtonInput:active {
    transform: translate(2px,2px);
    transition-duration: .1s;
}