.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 30px;
}
.error-content {
    text-align: center;
}
.text-danger {
    color: var(--myEreor);
}
.btn-box-error {
    border: 2px solid var(--myLighBlue);
    border-radius: 15px;
    padding: 5px 6px 9px 7px;
    color: var(--myWhite);
    background-color: var(--myLighBlue);
    font-weight: bold;
}
.btn-box-error:hover {
    border: 4px solid var(--myLighBlue);
    border-radius: 20px;
    text-decoration: none;
    color: var(--myLighBlue);
    background-color: var(--myWhite);
    font-weight: bold;
}