:root {
  --myLighBlue: #03A7D3FF;
  --myBlack: #1E222D;
  --myOrange: #FD4646FF;
  --myYellow:#ffc553;
  --myGreen: #00b528;
  --myEreor: #860000;
  --myRed: #db3545;
  --myGray: #8b8b8b;
  --myWhite: #ffffff;
}
