:root {
  --myLighBlue: #03A7D3FF;
  --myBlack: #1E222D;
  --myOrange: #FD4646FF;
  --myYellow:#ffc553;
  --myGreen: #00b528;
  --myEreor: #860000;
  --myRed: #db3545;
  --myGray: #8b8b8b;
  --myWhite: #ffffff;
  --background-image-url: url("https://res.cloudinary.com/dazec0lqe/image/upload/v1701610784/FXIBImageContent/e1rb5qtsjy21udou0p3l.png");
}
