ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer p {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.footer {
    background: var(--myBlack);
    text-align: center;
}

.border_bo1 a {
    color: var(--myWhite);
}

.border_bo1 a:hover {
    color: var(--myLighBlue);
    text-decoration: none;

}

.firstCol p {
    text-underline: none;
    color: var(--myWhite);
}

.firstCol p:hover {
    color: var(--myLighBlue);
}

.firstCol {
    text-align: left;
    display: flex;
    width: 211px;
    color: var(--myWhite);
}

.form_subscri {
    margin-right: 31px;
}

.infoma {
    margin-top: 50px;
    display: block;
}

.infoma h3 {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: var(--myWhite);
    padding-bottom: 10px;
}

.infoma ul li {
    color: var(--myWhite);
    font-size: 14px;
    text-align: left;
}

.footer ul.conta {
    padding-top: 2px;
}

.footer ul.conta li {
    color: var(--myWhite);
    text-align: left;
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.footer ul.conta li a {
    margin-left: 15px;
}

.footer ul.social_icon li {
    display: inline-block;
    margin: 0 10px;
}

.footer ul.social_icon li a .socIcon {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: var(--myWhite);
}

.copyright {
    padding-bottom: 10px;
    border-right: inherit;
    border-left: inherit;
}

.copyright p {
    border-top: 1px var(--myGray) solid;
    color: var(--myGray);
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding-top: 5px;
}

.wave {
    margin-top: 300px;
    background: url("https://res.cloudinary.com/dazec0lqe/image/upload/v1701610784/FXIBImageContent/mxqkigibatsyrxzirzzr.png");
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}

.wave.wave1 {
    animation: animateWave 30s linear infinite;
    animation-delay: 0s;
}

@keyframes animateWave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

.footerInquiryButton {
    padding: 0.8em 1.1em;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, rgba(3, 167, 211, 1) 100%);
    background-position: left center;
    transition: background 1.5s ease;
    color: #fff;
}

.footerInquiryButton:hover {
    background-size: 400%;
    background-position: right;
    scale: 1.05;
}

.footerReportButton {
    padding: 0.8em 1.1em;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 60%, rgba(253,70,70,1) 100%);
    background-position: left center;
    transition: background 1.5s ease;
    color: #fff;
}

.footerReportButton:hover {
    background-size: 400%;
    background-position: right;
    scale: 1.05;
}

.uploadImageText{
    font-weight: bold;
    font-size: 30px;
}





























.uploadButton {
    font-family: inherit;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
}

.uploadButton .uploadText {
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.uploadButton .uploadIcon {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}


.uploadButton:hover .uploadButtonIconWrapper {
    transform: scale(1.25);
    transition: .5s linear;
}

.uploadButton:hover .uploadIcon {
    transform: translateX(2.8em) scale(1.4);
    fill: #fff;
}

.uploadButton:hover .uploadText {
    opacity: 0;
    transition: .5s linear;
}

.uploadButton:active {
    transform: scale(0.95);
}

.myLittleIconReport{
    color: var(--myOrange);
}

.customSucessfullIconUpload{
    color: var(--myGreen);
    font-size: 50px;
}





